body {
    background-color: rgb(33, 59, 80);
    color: white;
    margin: 8px;
    line-height: 30px;
}

label {
    display: inline-block;
    width: 100%;
}

label[for="name"],label[for="lastname"],label[for="mail"],label[for="phone"]{
    width: 100%;
    display: inline-block;
    
}

label[for="male"], label[for="female"],[for="agreement"] {
    display:inline;
}

input[type="text"],input[type="email"],input[type="tel"], select[id="city"] {
    background-color: rgb(43,74,100);
    margin: auto;
    width: 300px;
    height: 25px;
    color: white;
    border: 1px;
    border-color: rgb(43,74,100);
    border-style:solid;
    outline: 0px;
}

input[type="submit"] {
    width: 80px;
    height: 40px;
    background-color: limegreen;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    border: 0px;
    margin-top: 20px;
}
input[type="submit"]:hover {
    background-color: greenyellow;
    color: limegreen;
    border: 0px;
}


/*
#name:hover {
    background-color: aquamarine;
}

#name:focus {
    color: red;
}
*/

input:hover {
    background-color: lightblue;
    border: 1px;
    border-color: white;
    border-style:solid;
}
input:focus {
    color: white;
}

textarea {
    width: 300px;
    height: 150px;
    background-color: rgb(43,74,100);
    border: 1px solid rgb(43,74,100);
}

textarea:hover {
    background-color: lightblue;
    border: 1px;
    border-color: white;
    border-style:solid;
}

textarea:focus {
    color: white;
}
    