#pierwszy::before {
    content: "Przed naszym paragrafem";
    color: red;
}

#drugi::after {
    content: "Za naszym paragrafem";
    color: blue;
}
/*
::after (:after)
::backdrop 
::before (:before)
::cue (:cue)
::first-letter (:first-letter)
::first-line (:first-line)
::placeholder 
::marker 
::selection
::slotted
::spelling-error 
::grammar-error */

